# Basics
[user]
	name = Jacky Luong
{{- if eq .git_primary "personal" }}
	email = 27376487+jacksluong@users.noreply.github.com
{{- else }}
	email = {{ .git_email }}
{{- end }}
{{- if eq .git_primary "work" }}

# Work machine: repos under my personal GitHub account go through the
# github.com-personal SSH alias (see ~/.ssh/config, pointing at the personal
# key) and commit with the personal identity. The includeIf matches the
# canonical URL as stored in the remote -- insteadOf rewrites are not applied
# to it.
[url "git@github.com-personal:jacksluong/"]
	insteadOf = git@github.com:jacksluong/
[includeIf "hasconfig:remote.*.url:git@github.com:jacksluong/**"]
	path = ~/.config/git/config-personal
[includeIf "hasconfig:remote.*.url:https://github.com/jacksluong/**"]
	path = ~/.config/git/config-personal
{{- else if and .work_identity .work_org }}

# Repos under the work GitHub org go through the github.com-work SSH alias
# (see ~/.ssh/config, pointing at the work key) and commit with the work identity
[url "git@github.com-work:{{ .work_org }}/"]
	insteadOf = git@github.com:{{ .work_org }}/
[includeIf "hasconfig:remote.*.url:git@github.com:{{ .work_org }}/**"]
	path = ~/.config/git/config-work
[includeIf "hasconfig:remote.*.url:https://github.com/{{ .work_org }}/**"]
	path = ~/.config/git/config-work
{{- else if .work_identity }}

# Repos with a remote outside github.com commit with the work identity. Later
# includes win, so github.com remotes switch back to the personal identity
[includeIf "hasconfig:remote.*.url:**"]
	path = ~/.config/git/config-work
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.config/git/config-personal
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.config/git/config-personal
{{- end }}
[credential]
	helper = osxkeychain
[push]
	default = current
	autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[fetch]
	prune = true

# Extras
[alias]
	lg = log --graph --oneline --abbrev=7 --decorate --date=relative --format=format:'%C("bold #C0FAB6")%h%Creset %C(white)%<(50,trunc)%s%Creset %C(dim white)%>(14,trunc)%an%Creset %C("#8FAEAE")%<(8,trunc)%ar%Creset%C(auto)%+d%Creset' --all
	lg2 = log --oneline --abbrev=7 --decorate --date=relative --format=format:' %C("bold #C0FAB6")%h%Creset %C(white)%<(51,trunc)%s%Creset %C(dim white)%>(14,trunc)%an%Creset %C("#8FAEAE")%<(13)%ar%Creset\n %C(auto)%d%Creset' --all
	co = checkout
	c = commit
	a = add
	s = status -s
	d = diff --stat
	yeet = reset --hard
	# `git exec <command>` to execute <command> in the root directory of repo
	url = "!git exec giturl"
    copy = "!git clone \"$(git config --get remote.origin.url)\" \"$(dirname \"$(git rev-parse --show-toplevel)\")/$(basename \"$(git rev-parse --show-toplevel)\")-copy\""

[color "decorate"]
	# Controls the color of branch names in `git lg`, which are colored %C(auto)
	HEAD = "bold white"
	branch = "#EF8D34"
	remoteBranch = "#A46321"
