/* Hide undesirable elements/aspects of YouTube's interface */
ytd-app {
  #columns #secondary, /* Recommended videos while on a video */
  ytd-browse[page-subtype="home"] #header, /* Pills strip at top of homepage */
  ytd-rich-section-renderer, /* Shorts section on homepage */
  #video-preview, /* Video auto-play on homepage */
  ytd-browse[page-subtype="home"] ytd-continuation-item-renderer /* Infinite scrolling on homepage */
  {
    display: none !important;
  }
  
  /* Only show CC and playback speed settings on a video, identifying by their SVGs icons */
  .ytp-settings-menu .ytp-panel:not(:has(.ytp-panel-header)) .ytp-panel-menu > .ytp-menuitem:not(:has(path[d^="M21.20 3.01"])):not(:has(path[d^="M12 1c1.44"])) {
    display: none !important;
  }
}

/* Disable infinite scrolling on Reddit */
shreddit-feed > :nth-child(n+26) {
  display: none !important;
}
